.hero-section {
    background-color: #080808;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .hero-section .overlap-wrapper {
    background-color: #080808;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
  }
  
  .hero-section .overlap {
    position: relative;
    height: 1536px;
    top: -512px;
    left: -720px;
  }
  
  .hero-section .pexels {
    position: absolute;
    width: 1440px;
    height: 941px;
    top: 0;
    left: 0;
  }
  
  .hero-section .rectangle {
    position: absolute;
    width: 613px;
    height: 1024px;
    top: 512px;
    left: 720px;
    background: linear-gradient(180deg, rgb(13.53, 14.52, 14.51) 0%, rgba(16.43, 17.95, 17.94, 0.1) 100%);
  }
  
  .hero-section .group {
    position: absolute;
    width: 629px;
    height: 844px;
    top: 631px;
    left: 704px;
  }
  
  .hero-section .overlap-group-wrapper {
    position: relative;
    width: 507px;
    height: 162px;
    top: 235px;
    left: 66px;
  }
  
  .hero-section .overlap-group {
    position: relative;
    width: 503px;
    height: 162px;
  }
  
  .hero-section .text-wrapper {
    position: absolute;
    width: 503px;
    top: 0;
    left: 0;
    font-family: "Istok Web-Bold", Helvetica;
    font-weight: 700;
    color: #e3b616;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .hero-section .div {
    position: absolute;
    width: 328px;
    top: 95px;
    left: 58px;
    text-shadow: 0px 4px 4px #000000;
    font-family: "Istok Web-Bold", Helvetica;
    font-weight: 700;
    color: #e3b616;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .hero-section .img {
    position: absolute;
    width: 753px;
    height: 51px;
    top: 44px;
    left: 633px;
  }

  .btn-13 {
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-13:hover {
    color: #fff;
  }
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }